* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: blue;
    /* background: rgb(198, 212, 202); */
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background: #FD6E0A;
    padding: 18px 35px;
    border: 0px;
    border-radius: 5px;

}

/* Header and navigation styles */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png
);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-top: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: auto;
}

section {
    margin-top: 130px;
}

/* about secetion style */
.about {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {

    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section-discription {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do section */

.what-I-do-description {
    color: #757575;
    margin-left: 120px;
    margin-right: 120px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;

}

.skills-container {
    display: flex;
    gap: 24px;

}

.skill {

    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/* Resume styles */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title {
    /* margin-bottom: 30px; */
}

.resume .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
}

.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}

.resume .description {
    color: #757575;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

/* Contract styles */
.contract {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contract .section-title {
    text-align: left;

}

.contract input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.section-description {
    margin-bottom: 30px;
}